<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dongxl.camera">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.permission.camera" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />



    <!-- Android 10 沙盒文件 If you need to modify files in external storage, request
            WRITE_EXTERNAL_STORAGE instead. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!--Android 10 适配方法一 不推荐的  在AndroidManifest.xml的Application节点设置android:requestLegacyExternalStorage=“true”-->
    <application android:supportsRtl="true"
        android:requestLegacyExternalStorage="true">
        <activity android:name="com.dongxl.camera.TextureCameraActivity" />
    </application>
</manifest>

