*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild


local.properties

*.iml
.idea/
.gradle/
build/


.DS_Store
.settings/
*.properties


/.gradle/
/.idea/
/build/
/codeStyleSettings.xml

*.iml
*.project
*.classPath

/app/.settings/
/app/build/

/buildSrc/.settings/
/buildSrc/build/

/imageload/.settings/
/imageload/build/

/mvplibrary/.settings/
/mvplibrary/build/

/buildSrc/mvpplugin/.settings/
/buildSrc/mvpplugin/build/

/gradle/