package ${applicaitionId}.${packageName}.contract;

import com.dongxl.library.mvp.MvpPresenter;
import com.dongxl.library.mvp.MvpView;

/**
 * @author ${author}
 * @date: ${date}
 * @Description:
 */
public interface ${functionName}Contract {

    interface View extends MvpView {

    }

    interface Presenter extends MvpPresenter<View> {

    }
}